/* Employes.css */
.employees-container {
  padding: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espace entre les cartes */
}

.custom-card {
  flex: 1 1 calc(33% - 20px); /* 3 cartes par ligne avec un espace de 20px entre elles */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.custom-card .card-body {
  padding: 20px;
}

.card-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px; /* Espace entre les boutons */
}
